.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #800040; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 700ms linear infinite;
    width: 5rem;
    z-index: 10;
    position: fixed;
    top: 40vh;
    left: 42rem;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }